{# Meta Tags #}
<meta name="description" content="{{ description or meta.description }}"/>
<meta property="og:title" content="{{ title or meta.title }}"/>
<meta property="og:description" content="{{ description or meta.description }}"/>
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/static/img/favicon-32x32.png" | url }}"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/static/img/favicon-16x16.png" | url }}"/>
<meta name="theme-color" content="#1a1a1a"/>
<link rel="manifest" href="{{ '/site.webmanifest' | url }}"/>